name: "postproc"
backend: "python"
max_batch_size : 0
input [
  {
    name: "input_0"
    data_type: TYPE_FP32
    dims: [ -1, $num_labels ]
  }
]
output [
  {
    name: "pred"
    data_type: TYPE_STRING
    dims: [ -1 ]
  },
  {
    name: "score"
    data_type: TYPE_FP32
    dims: [ -1 ]
  }
]
instance_group [
  {
    kind: KIND_CPU
  }
]