[
  {
    "model": {
      "id": "@MODEL_ID",
      "name": "@MODEL_NAME",
      "version": "@MODEL_VERSION",
      "model_type": "@MODEL_TYPE",
      "runtime": "onnx",
      "artifact_path": "@MODEL_PATH",
      "pytorch_model_path": "@PYTORCH_MODEL_PATH",
      "onnx_model_path": "@ONNX_MODEL_PATH",
      "run_id": "@RUN_ID",
      "subscription_id": "@SUBSCRIPTION_ID",
      "resource_group": "@RESOURCE_GROUP",
      "workspace_name": "@WORKSPACE_NAME"
    },
    "image": {
      "name": "stevezheng23/tritonserver",
      "tag_prefix": "21.10-py3-llm",
      "subscription_id": "c10a26f2-5978-4a22-bce8-82f210bcfd40",
      "resource_group": "silio_westus",
      "registry_name": "silio",
      "registry_server": "silio.azurecr.io"
    }
  }
]